/* 色設定 */
:root {
    --bg: rgb(224, 224, 224);
    --bar: rgb(58 233 161 / 70%);
}

  /* グリッド */
.slidebar-multithumb {
    display: grid;
    padding: 1rem;
}

/* ラベル */
.slidebar-multithumb label {
    grid-column: 1;
    grid-row: 1;
}

/* inputのスタイル */
.slidebar-multithumb input[type="range"] {
    grid-column: 1;
    grid-row: 2;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid;
    overflow: hidden;
}

/* つまみ部分のスタイル */
.slidebar-multithumb ::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 0.8rem;
    height: 2.5rem;
}

/* それぞれのつまみのスタイル */
.thumb-1 {
    z-index: 1;
}

.thumb-1::-webkit-slider-runnable-track {
    background: none;
}

.thumb-2::-webkit-slider-runnable-track {
    background: var(--bg);
}

.thumb-1::-webkit-slider-thumb {
    background: rgb(255, 139, 139);
    box-shadow: -100vw 0 0 100vw var(--bg);
}
.thumb-2::-webkit-slider-thumb {
    background: rgb(77, 169, 255);
    box-shadow: -100vw 0 0 100vw var(--bar);
}


.setter {
    margin: 10px auto;
}

.btn {
    position: relative;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.btn--text {
    text-align: center;
    line-height: 60px;
    font-size: large;
}

.btn--yellow {
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
}

.btn--red {
    background-color: #ff2200;
    border-bottom: 5px solid #cc2200;
}


.btn--gray {
    background-color: #999;
    border-bottom: 5px solid #888;
}

.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.interval_setter {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 60px;
    margin: 10px auto;
    font-size: xx-large;
}